html{
    box-sizing: border-box;
}

*, * ::before, ::after{
    box-sizing: inherit;
    background-color:peru;

}
body{
    margin: 40px 100px;
    columns:2;
}
div.intro{
    border: 10px;
   /* border-style:solid;
    border-color: black;*/
}
h1{
    color: maroon;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: bold;
}
h2 {
    color: maroon;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: bold;
}
div.chapati_image{
    /*text-align: center;*/
    display: grid;
    place-items: center;
}
img{
    height: auto;
    width: 400px;
    margin: 20px;
    
}
p{
    text-align: center;
    color: brown;
}
ul {
    color: brown;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    list-style-type: none;

}
ol {
    color: brown;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
list-style-type: none;
}