 *{
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   background-color: olive;
   /*background-image: url("images/homepage-foods.jpg");
   background-size: cover;*/

   
   
}
body{
    text-align: center;
    display: block;
    max-width: 500px;
    margin: 150px auto;
    padding: 8px;
    border-style: solid;
    border-radius: 25px;
    border-color: black;
    font-size: 32px;
}

h1 {
    color:black;

}
ul{
    list-style-type: none;
    text-align: center;
}
